 @model IEnumerable<Product>

<div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-indicators">
        <button type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.macrumors.com/t/_Wnl9DH-eFPxTAcJOMNoJ4boxKQ=/1600x900/smart/article-new/2022/09/iPhone-14-Pro-Rear-Camera.jpg" class="d-block w-100" alt="Wild Landscape" />
        </div>
        <div class="carousel-item">
            <img src="https://i0.wp.com/www.androidsage.com/wp-content/uploads/2023/02/Samsung-Galaxy-S23-Ultra-Wallpapers.jpg" class="d-block w-100" alt="Camera" />
        </div>
        <div class="carousel-item">
            <img src="https://staticg.sportskeeda.com/editor/2022/01/5f21e-16433417948778-1920.jpg" class="d-block w-100" alt="Exotic Fruits" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
 <div class="row pb-3">
    @foreach(var product in Model)
    {
       <div class="col-lg-4 col-sm-6">
           <div class="row p-2">
               <div class="col-12 p-1">
                   <div class="card border-0 p-3 shadow border-top border-5 rounded">
                       <img src="@product.ImageURl" class="card-img-top rounded"/>
                       <div class="pl-1">
                           <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.ProductName</p>
                            <p class="card-title text-warning text-center">@product.Brand</p>
                            </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-100 text-center fw-bold">
                                Price :₹
                                <span>
                                        <strike>
                                            @product.Price.ToString()
                                        </strike>
                                </span>
                            </p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center text-success">
                                Discount Price :₹
                                <span>
                                    @product.DisccountPrice.ToString()
                                </span>
                            </p>
                        </div>
                      </div>
                   <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">Buy Product</a>
                </div>
            </div>
        </div>
    }
</div> 





