@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div>
    <section class="vh-250" style="background-color: #eee;">
        <div class="container h-200">
            <div class="row d-flex justify-content-center align-items-center h-200">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-8 col-xl-7 order-2 order-lg-1">
                                    <h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">@ViewData["Title"]</h1>

                                    <form id="registerForm" class="mx-1 mx-md-4" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-envelope fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.Name" class="form-control" placeholder="name@example.com" />
                                                <label asp-for="Input.Name">Name</label>
                                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-envelope fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                <label asp-for="Input.Email">Email</label>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-lock fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.Password">Password</label>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-key fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-street-view fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.StreetAddress" class="form-control" />
                                                <label asp-for="Input.StreetAddress">Street Adress</label>
                                                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-phone-volume fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.PhoneNumber" class="form-control" />
                                                <label asp-for="Input.PhoneNumber">Phone Number</label>
                                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-location-pin fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.PostalCode" class="form-control" />
                                                <label asp-for="Input.PostalCode">Postal Code</label>
                                                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-map fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.State" class="form-control" />
                                                <label asp-for="Input.State">State</label>
                                                <span asp-validation-for="Input.State" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-city fa-bounce fa-xl" style="color: #000000;"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.City" class="form-control" />
                                                <label asp-for="Input.City">City</label>
                                                <span asp-validation-for="Input.City" class="text-danger"></span>
                                            </div>
                                        </div>
                                        @if (User.IsInRole(StaticDetails.Role_Admin))
                                        {

                                            <div class="form-check d-flex justify-content-center mb-5">

                                                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                                    <option disabled selected>--Select Role--</option>
                                                </select>
                                            </div>
                                            <div class="form-check d-flex justify-content-center mb-5">

                                                <select asp-for="Input.CompanyId" style="display:none" asp-items="@Model.Input.CompanyList" class="form-select">
                                                    <option disabled selected>--Select Company--</option>
                                                </select>
                                            </div>
                                        }
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register<i class="fa-solid fa-right-to-bracket fa-bounce fa-xl" style="color: #ffffff;"></i></button>
                                        </div>

                                    </form>

                                </div>
                                <div class="col-md-8 col-lg-4 col-xl-5 d-flex align-items-center order-1 order-lg-2">
                                    
                                        
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <img src="https://media.licdn.com/dms/image/D4D22AQEinzDK5tn-Mg/feedshare-shrink_800/0/1703833778396?e=1707955200&v=beta&t=HWtR0MmxIrDcZHrtJgBrytQSxzMR6gYWUBmkb7exL5E"
                                                 class="img-fluid" alt="Sample image" ">
                                        </div>

                                    
                                    
                                </div>
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <section>
       
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#Input_Role').change(function () {
                var selection = $('#Input_Role Option:Selected').text();
                if (selection == 'Company') {
                    $('#Input_CompanyId').show();
                }
                else {
                    $('#Input_CompanyId').hide();
                }
            })
        })
    </script>
}
